.testimonials {
  grid-area: testimonials;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial {
  width: 370px;
  font-size: 1rem;
  padding: 1.5rem 2.8rem;
  background-color: #fff;
  color: #52525a;
  border-radius: 15px;
  box-shadow: 30px 30px 150px 10px #D4D4D8;
}

.first {
  align-self: end;
  margin-bottom: 3rem;
}

.second {
  align-self: start;
}

.testimonial-heading {
  display: flex;
  align-items: center;
  justify-content: start;
}

.logo {
  width: 7.5vw;
}

@media (max-width: 980px) {
  .testimonials {
    margin-top: 1.5rem;
  }
}